* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 font-family: 'Roboto', sans-serif;
 font-size: 62.5%; 
 --hue: 194;
 --text-color: hsl(var(--hue), 6%, 17%);
 --background-theme: hsl(var(--hue), 0%, 100%);
 --btn-background: hsl(var(--hue), 9%, 89%);
 --btn-color: hsl(var(--hue), 6%, 17%);
 --btn-background-ativate: hsl(var(--hue), 97%, 31%);
 --btn-color-ativate: hsl(var(--hue), 0%, 100%);
 --btn-timer-hover-color: hsl(var(--hue), 97%, 31%);
}

html.light,
html {
  --text-color: hsl(var(--hue), 0%, 100%);
  --background-theme: hsl(var(--hue), 6%, 17%);
  --btn-color-ativate: hsl(var(--hue), 0%, 100%);
}

html.light .ph-moon,
html:not(.light) .ph-sun {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
}

body {
  font-size: 1.6rem;
  display: grid;
  height: 100vh;
  place-content: center;

  background-color: var(--background-theme);
  color: var(--text-color);
}

main {
  display: flex;
  justify-content: center;
  gap: 19rem;
}

#theme-toggle {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;
}

i {
  color: var(--text-color);
  transition: 0.3s;
}

i:hover {
  color:var(--btn-timer-hover-color);
} 

.sr-only {
  width: 1px;
  right: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

#theme-content {
  display: grid;
  justify-items: center;
}

.timer-number span {
  font-size: 12.6rem;
}

/* Controls timer */
.running .play,
.running .set-timer,
html:not(.running) .pause,
html:not(.running) .stop {
  display: none;
}

.controller-timer, .controller-sounds  {
  list-style: none;
}

.controller-timer {
  gap: 3.4rem;
}

.controller-timer button, #theme-toggle {
  background-color: transparent;
  border: none;
  color: var(--btn-color);

  cursor: pointer;
  font-size: 4.8rem;
}


/* controls sounds */
.controller-sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.controller-sounds button {
  width: 13.8rem;
  height: 15.2rem;
  background-color: var(--btn-background);
  border: none;
  border-radius: 2.4rem;
  padding: 4rem;
  cursor: pointer;
  transition: 0.3s;
}

.controller-sounds button path {
  fill: var(--btn-color);
}


.controller-sounds button:hover {
  background-color: var(--btn-background-ativate);
}

.controller-sounds button:hover path {
  fill: var(--btn-color-ativate);
}


li .music {
  background-color: var(--btn-background-ativate);
}

li .music path {
  fill: var(--btn-color-ativate);
}


@media (max-width: 900px) {
  main {
    flex-direction: column;
    gap: 4rem;
  }
}

